body{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}
.flexible-container{
    display: flex;
    margin: 0;
}
.top-image img{
    height: 300px;
    width: 1325px;
    margin: 0.5%;
    }
.green{
    color: blue;
}
.button{
    text-decoration: none;
    color: wheat;
    padding: 10px 20px;
    background-image: linear-gradient(blue, skyblue);
    border-radius: 7%;
}
.all-div{
    width: 50%;
    padding: 5%;
}
.all-div h1{
    font-size: 200%;
}
.all-div h3{
    color: blue;
}
.all-div img{
    width: 500px;
    height: 300px;
    padding: 5%;
}
.second-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.recipie{
    text-align: center;
    background-color: white;
}
.recipie-item{
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 5px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
}
#the-best-grilled{
    border: 10px solid snow;
    border-image:round;
    border-image-slice: 2;
    border-radius: 10px;
}
#smoky-chicken{
    border: 10px solid snow;
    border-image:round;
    border-image-slice: 2;
    border-radius: 10px;
}
#instant-pot-baby{
    border: 10px solid snow;
    border-image:round;
    border-image-slice: 2;
    border-radius: 10px;
}
footer{
    text-align: center;
}
.post{
    width: 42%;
    margin-left: 29%;
    margin-right: 29%;
}
.recipie-item img{
    border-radius: 10px;
    width: 100%;
}
.subscribe{
    width: 30%;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5px;
    border-radius: 5px;
    text-align: center;
}
footer{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    background-image: linear-gradient(brown, red);
    color: white;
}